.all-grid {
    display: grid;
    grid-template-rows: repeat(3,auto);
    grid-template-columns: repeat(3,auto) ;
    gap: 20px;
}
.all-grid >* {
    border: 2px black solid;
    background-color:antiquewhite;
    font-size: small;
}
.allnew {
    background-color: aliceblue;
}